<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <title>SAG - Solicitacoes</title>
</head>
<body class="d-flex align-items-center flex-column" style="min-height: 100vh;">
    <header class="d-flex p-4 justify-content-start align-items-center" style="background-color: #D291BC; width: 100%;">
        <a href="../home/index.html" style="border: 1px solid white; border-radius: 5px;" class="p-2"><img src="../../assets/icons8-seta-longa-à-esquerda-30.png" alt="ícone de seta branca virada pra esquerda"></a>
        <h2 class="ml-2 text-white">SOLICITAÇÃO DE ADOÇÃO</h2>
    </header>
    <div class="alert alert-dismissible fade show d-none" role="alert" id="caixaDeAlerta">
      <strong id="mensagemDeAlerta"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <main class="p-2 d-flex flex-grow-1 justify-content-center align-items-center" style="width: 100%;"></main>
    <script src="./index.js"></script>
</body>
</html>