<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gatitos Para Adotar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>
<body style="height: 100vh;">
  <header class="text-white py-3" style="background-color: #D291BC;">
    <nav class="navbar navbar-expand-lg p-3 d-flex justify-content-around align-items-center" style="background-color: #D291BC;">
      <div class="d-flex align-items-center">
        <img width="64" height="64" src="../../assets/icons8-gato-64.png" alt="gatinho" class="mr-3">
      </div>
      <div class="d-flex">
        <a href="../gatosAdotados/index.html" class="mr-3"><button type="button" class="btn btn-light">Meus Gatos Adotados</button></a>
        <a href="../gatosAdotados/index.html" class="mr-3"><button type="button" class="btn btn-light">Minhas Solicitações</button></a>
        <a href="../solicitacao/index.html" class="mr-3"><button type="button" class="btn btn-light">Fazer Uma Solicitação Para Adoção</button></a>
        <button type="button" class="btn btn-light" onclick="logout()">Sair</button>
      </div>
    </nav>
  </header>
  <main class="mt-4 d-flex flex-column align-items-center flex-wrap flex-grow-1">
    <div class="alert alert-dismissible fade show d-none" role="alert" id="caixaDeAlerta">
      <strong id="mensagemDeAlerta"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container d-flex flex-wrap justify-content-around containercardGatos"></div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="index.js"></script>
</body>
</html>
