<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Gatitos Para Adotar - Adotados</title>
</head>
<body class="d-flex flex-column align-items-center">
    <div id="loadingScreen" class="loading-screen">
        <div class="loader"></div>
    </div>
    <header class="d-flex justify-content-start p-2" style="width: 100%;">
        <a href="../home/index.html"><img src="../../assets/icons8-seta-longa-à-esquerda-30.png" alt=""></a>
    </header>
    <div class="alert alert-dismissible fade show d-none" role="alert" id="caixaDeAlerta">
        <strong id="mensagemDeAlerta"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <main class="d-flex jusity-content-center align-items-center flex-grow-1 flex-wrap"></main>
</body>
<script src="./index.js"></script>
</html>